In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.DataFrame()

In [3]:
data['Age'] = ['young', 'young', 'young', 'young', 'young',
               'middle', 'middle', 'middle', 'middle', 'middle',
               'old', 'old', 'old', 'old', 'old']

data['Has Job'] = ['false', 'false', 'true', 'true', 'false',
               'false', 'false', 'true', 'false', 'false',
               'false', 'false', 'true', 'true', 'false']

data['Own House'] = ['false', 'false', 'false', 'true', 'false',
               'false', 'false', 'true', 'true', 'true',
               'true', 'true', 'false', 'false', 'false']

data['Credit Rating'] = ['fair', 'excellent', 'good', 'good', 'fair',
                         'fair', 'good', 'good', 'excellent', 'excellent',
                         'excellent', 'good', 'good', 'excellent', 'fair'
                         ]

data['Class'] = ['No', 'No', 'Yes', 'Yes', 'No',
                 'No', 'No', 'Yes', 'Yes', 'Yes',
                 'Yes', 'Yes', 'Yes', 'Yes', 'No'
                 ]

In [4]:
data

       Age Has Job Own House Credit Rating Class
0    young   false     false          fair    No
1    young   false     false     excellent    No
2    young    true     false          good   Yes
3    young    true      true          good   Yes
4    young   false     false          fair    No
5   middle   false     false          fair    No
6   middle   false     false          good    No
7   middle    true      true          good   Yes
8   middle   false      true     excellent   Yes
9   middle   false      true     excellent   Yes
10     old   false      true     excellent   Yes
11     old   false      true          good   Yes
12     old    true     false          good   Yes
13     old    true     false     excellent   Yes
14     old   false     false          fair    No

In [5]:
# Registros 2 y 11 removidos
dropped = data.drop([1,10], axis=0)
# dropped = data

info_gains = []

In [6]:
def entropy(numlist):
    total = sum(numlist)
    entropy = 0
    for number in numlist:
        if number == 0:
            entropy += 0
        else:
            entropy += (-number/total * np.log2(number/total))
    
    return entropy

In [7]:
group = dropped.groupby('Class')
temp = group.size()
display(temp)
root_entropy = round(entropy(temp), 3)
print("Entropy: " , root_entropy)

Class
No     5
Yes    8
dtype: int64

Entropy:  0.961

In [8]:
group = dropped.groupby(['Age', 'Class'])
temp = group.size()
display(temp)
weighted_entropy = 5/13 * entropy([2,3]) + 4/13 * entropy([1,3]) + 4/13 * entropy([2,2])
info_gain = round(root_entropy - weighted_entropy, 3)
print("Information Gain:", info_gain)
info_gains.append(info_gain)

Age     Class
middle  No       2
        Yes      3
old     No       1
        Yes      3
young   No       2
        Yes      2
dtype: int64

Information Gain: 0.03

In [9]:
group = dropped.groupby(['Has Job', 'Class'])
temp = group.size()
display(temp)
weighted_entropy = 8/13 * entropy([5,3]) + 5/13 * entropy([5,0])
info_gain = round(root_entropy - weighted_entropy, 3)
print("Information Gain:", info_gain)
info_gains.append(info_gain)

Has Job  Class
false    No       5
         Yes      3
true     Yes      5
dtype: int64

Information Gain: 0.374

In [10]:
group = dropped.groupby(['Own House', 'Class'])
temp = group.size()
display(temp)
weighted_entropy = 8/13 * entropy([5,3]) + 5/13 * entropy([5,0])
info_gain = round(root_entropy - weighted_entropy, 3)
print("Information Gain:", info_gain)
info_gains.append(info_gain)

Own House  Class
false      No       5
           Yes      3
true       Yes      5
dtype: int64

Information Gain: 0.374

In [11]:
group = dropped.groupby(['Credit Rating', 'Class'])
temp = group.size()
display(temp)
weighted_entropy = 3/13 * entropy([3,0]) + 4/13 * entropy([4,0]) + 6/13 * entropy([1,5])
info_gain = round(root_entropy - weighted_entropy, 3)
print("Information Gain:", info_gain)
info_gains.append(info_gain)

Credit Rating  Class
excellent      Yes      3
fair           No       4
good           No       1
               Yes      5
dtype: int64

Information Gain: 0.661

In [12]:
data.columns[np.argmax(info_gains)]

'Credit Rating'